In [1]:
import os
import sys
import pandas as pd
import xml.etree.cElementTree as ET
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path = 'c:\\GITHUB\\SCOT_ATC\\dat\\'

In [3]:
os.listdir(path)[:2]

['atc', 'sim']

In [4]:
df = pd.read_csv(path+'atc\\'+'ATC00002.csv', header=0, sep=',', parse_dates={"DTime" : [4,5]})
df.DTime = pd.DataFrame(list(df.DTime.str.split('-')))
df.DTime = pd.to_datetime(df['DTime'], format='%d%b%Y %H:%M')
df.set_index('DTime', inplace=True)

In [5]:
df.CCA = pd.to_numeric(df.CCA, errors='coerce')

In [6]:
for c in df.columns:
    if "Unname" in c:
        df.drop(c, axis=1, inplace=True)

In [10]:
# element tree of trips (no.xml extension as we are reserving that for loop through tripinfo.xml) at path
atcele = ET.parse(path+'sim\\base\\e1output.xml')
atcroot = atcele.getroot()

## define empty list
atc = []

In [11]:
## loop through xml finding all attribs and set data type
for s in atcroot.findall('interval'):
    aid = str(s.get('id'))
    sta = float(s.get('begin'))
    end = float(s.get('end'))
    nv = int(s.get('nVehContrib'))
    atc.append([aid,sta,end,nv]); ## append loop to list
    
atc = pd.DataFrame(atc)## pandas can convert a flat list or 2-d array to DataFrame
atc.columns = ['id', 'sta', 'end', 'Nv'] # rename columns

In [13]:
atc[:5]

            id  sta   end  Nv
0  ATC08058_s1    0  3600   2
1  ATC08058_s2    0  3600   2
2  ATC08058_n1    0  3600   0
3  ATC08058_n2    0  3600   2
4   ATCSW033_s    0  3600  30