In [122]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [123]:
path = 'c:\\GITHUB\\SCOT_ATC\\dat\\atc\\'

In [124]:
os.listdir(path)[:2]

['01_strip.sh', 'ATC00002.csv']

In [171]:
df = pd.read_csv(path+'ATC00002.csv', header=0, sep=',', parse_dates={"DTime" : [4,5]})
df.DTime = pd.to_datetime(df['DTime'], format='%d%b%Y %H:%M')#-%H:%M')#, index_col='DTime')

ValueError: unconverted data remains: -01:00

In [168]:
df.CCA = pd.to_numeric(df.CCA, errors='coerce')

In [169]:
df

,DTime,SiteCode,Route,LinkCode,Magent,Unnamed: 6,CCA,CCA.1,Unnamed: 9
0,01JAN2004 00:00-01:00,ATC00002,A82,108660,NW,NaN,20.0,9.0,NaN
1,01JAN2004 01:00-02:00,ATC00002,A82,108660,NW,NaN,40.0,13.0,NaN
2,01JAN2004 02:00-03:00,ATC00002,A82,108660,NW,NaN,36.0,14.0,NaN
3,01JAN2004 03:00-04:00,ATC00002,A82,108660,NW,NaN,19.0,5.0,NaN
4,01JAN2004 04:00-05:00,ATC00002,A82,108660,NW,NaN,7.0,6.0,NaN
5,01JAN2004 05:00-06:00,ATC00002,A82,108660,NW,NaN,12.0,6.0,NaN
6,01JAN2004 06:00-07:00,ATC00002,A82,108660,NW,NaN,3.0,5.0,NaN
7,01JAN2004 07:00-08:00,ATC00002,A82,108660,NW,NaN,12.0,11.0,NaN
8,01JAN2004 08:00-09:00,ATC00002,A82,108660,NW,NaN,12.0,17.0,NaN
9,01JAN2004 09:00-10:00,ATC00002,A82,108660,NW,NaN,28.0,41.0,NaN
10,01JAN2004 10:00-11:00,ATC00002,A82,108660,NW,NaN,53.0,67.0,NaN
11,01JAN2004 11:00-12:00,ATC00002,A82,108660,NW,NaN,112.0,124.0,NaN
12,01JAN2004 12:00-13:00,ATC00002,A82,108660,NW,NaN,163.0,108.0,NaN
13,01JAN2004 13:00-14:00,ATC00002,A82,108660,NW,NaN,151.0,147.0,NaN
14,01JAN2004 14:00-15:00,ATC00002,A82,108660,NW,NaN,138.0,150.0,NaN
15,01JAN2004 15:00-16:00,ATC00002,A82,108660,NW,NaN,132.0,165.0,NaN
16,01JAN2004 16:00-17:00,ATC00002,A82,108660,NW,NaN,113.0,171.0,NaN
17,01JAN2004 17:00-18:00,ATC00002,A82,108660,NW,NaN,64.0,104.0,NaN
18,01JAN2004 18:00-19:00,ATC00002,A82,108660,NW,NaN,65.0,55.0,NaN
19,01JAN2004 19:00-20:00,ATC00002,A82,108660,NW,NaN,46.0,29.0,NaN
20,01JAN2004 20:00-21:00,ATC00002,A82,108660,NW,NaN,25.0,25.0,NaN
21,01JAN2004 21:00-22:00,ATC00002,A82,108660,NW,NaN,16.0,17.0,NaN
22,01JAN2004 22:00-23:00,ATC00002,A82,108660,NW,NaN,22.0,20.0,NaN
23,01JAN2004 23:00-24:00,ATC00002,A82,108660,NW,NaN,14.0,6.0,NaN
24,02JAN2004 00:00-01:00,ATC00002,A82,108660,NW,NaN,8.0,5.0,NaN
25,02JAN2004 01:00-02:00,ATC00002,A82,108660,NW,NaN,3.0,6.0,NaN
26,02JAN2004 02:00-03:00,ATC00002,A82,108660,NW,NaN,1.0,3.0,NaN
27,02JAN2004 03:00-04:00,ATC00002,A82,108660,NW,NaN,1.0,0.0,NaN
28,02JAN2004 04:00-05:00,ATC00002,A82,108660,NW,NaN,2.0,3.0,NaN
29,02JAN2004 05:00-06:00,ATC00002,A82,108660,NW,NaN,8.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...
84522,03MAY2015 18:00-19:00,ATC00002,A82,108660,NW,NaN,124.0,138.0,NaN
84523,03MAY2015 19:00-20:00,ATC00002,A82,108660,NW,NaN,87.0,96.0,NaN
84524,03MAY2015 20:00-21:00,ATC00002,A82,108660,NW,NaN,70.0,78.0,NaN
84525,03MAY2015 21:00-22:00,ATC00002,A82,108660,NW,NaN,40.0,52.0,NaN
84526,03MAY2015 22:00-23:00,ATC00002,A82,108660,NW,NaN,20.0,34.0,NaN
84527,03MAY2015 23:00-24:00,ATC00002,A82,108660,NW,NaN,13.0,15.0,NaN
84528,04MAY2015 00:00-01:00,ATC00002,A82,108660,NW,NaN,9.0,8.0,NaN
84529,04MAY2015 01:00-02:00,ATC00002,A82,108660,NW,NaN,11.0,8.0,NaN
84530,04MAY2015 02:00-03:00,ATC00002,A82,108660,NW,NaN,6.0,1.0,NaN
84531,04MAY2015 03:00-04:00,ATC00002,A82,108660,NW,NaN,6.0,5.0,NaN
84532,04MAY2015 04:00-05:00,ATC00002,A82,108660,NW,NaN,7.0,8.0,NaN
84533,04MAY2015 05:00-06:00,ATC00002,A82,108660,NW,NaN,13.0,28.0,NaN
84534,04MAY2015 06:00-07:00,ATC00002,A82,108660,NW,NaN,59.0,61.0,NaN
84535,04MAY2015 07:00-08:00,ATC00002,A82,108660,NW,NaN,130.0,121.0,NaN
84536,04MAY2015 08:00-09:00,ATC00002,A82,108660,NW,NaN,171.0,156.0,NaN
84537,04MAY2015 09:00-10:00,ATC00002,A82,108660,NW,NaN,217.0,260.0,NaN
84538,04MAY2015 10:00-11:00,ATC00002,A82,108660,NW,NaN,268.0,359.0,NaN
84539,04MAY2015 11:00-12:00,ATC00002,A82,108660,NW,NaN,287.0,427.0,NaN
84540,04MAY2015 12:00-13:00,ATC00002,A82,108660,NW,NaN,262.0,543.0,NaN
84541,04MAY2015 13:00-14:00,ATC00002,A82,108660,NW,NaN,277.0,421.0,NaN
84542,04MAY2015 14:00-15:00,ATC00002,A82,108660,NW,NaN,385.0,341.0,NaN
84543,04MAY2015 15:00-16:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84544,04MAY2015 16:00-17:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84545,04MAY2015 17:00-18:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84546,04MAY2015 18:00-19:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84547,04MAY2015 19:00-20:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84548,04MAY2015 20:00-21:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84549,04MAY2015 21:00-22:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84550,04MAY2015 22:00-23:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN
84551,04MAY2015 23:00-24:00,ATC00002,A82,108660,NW,NaN,NaN,NaN,NaN